# Backend Environment Variables
MONGODB_URI="mongodb://127.0.0.1:27017/rincon_natural"
MONGODB_DB_NAME="rincon_natural"
JWT_SECRET="your_secret_key_change_in_production"
PORT=3000
NODE_ENV="development"
